@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

  .afacad-bold {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .afacad-light {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .afacad-semi-bold{
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .barcode-font {
    font-family: "Libre Barcode 39", system-ui;
    font-weight: 400;
    font-style: normal;
    /* line-height: 1; */
  }
  
  .vertical-text {
    writing-mode: vertical-lr;
  }
  
  .vertical-lmao{
    writing-mode: vertical-lr;
    rotate: 180deg;
  }
  
  .mirrored {
    transform: scaleX(-1);
  }

  .wider {
    transform: scaleX(2) scaleY(0.9);
  }

  .translate-y-10 {
    transform: translateY(-10%);
  }

  .line-height-06 {
    line-height: 0.6;
  }